<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="documentService" class="org.nsesa.server.service.impl.DocumentServiceImpl">
        <property name="documents">
            <map>
                <entry key="1" value="classpath:examples/DDLPRES_256.akn"/>
                <entry key="2" value="classpath:examples/Act_Kenya_1980-01-01@1989-12-15.xml"/>
                <entry key="3" value="classpath:examples/Act_Kenya_1989-12-06.xml"/>
                <entry key="4" value="classpath:examples/AmendmentList_Bungeni_2010-10-28v1.xml"/>
                <entry key="5" value="classpath:examples/Debate_Bungeni_2010-12-07.xml"/>
                <entry key="6" value="classpath:examples/constitution_final-Kenya.xml"/>
                <entry key="7" value="classpath:examples/Bill_southAfrica_2006-12-23.xml"/>
                <entry key="8" value="classpath:examples/COM_COM(2012)0744_EN.xml"/>
                <entry key="9" value="classpath:examples/COM_COM(2012)0744_FR.xml"/>
                <entry key="10" value="classpath:examples/DDLPRES_3596.akn"/>
                <entry key="11" value="classpath:examples/DDLPRES_3653.akn"/>
                <entry key="12" value="classpath:examples/PE486.060_explanatory_v1-00.xml"/>
                <entry key="13" value="classpath:examples/PE486.060_report_v2-00.xml"/>
                <entry key="14" value="classpath:examples/PE486.060_resolution_v1-00.xml"/>
                <entry key="template-1" value="classpath:examples/drafting_template.xml"/>
            </map>
        </property>
    </bean>
    <bean id="personService" class="org.nsesa.server.service.impl.PersonServiceImpl"/>
    <bean id="amendmentService" class="org.nsesa.server.service.impl.AmendmentServiceImpl"/>

</beans>